.details {
    margin-left: 30px;
    margin-right: 30px;
}

p {
    font-size: 19px;
}

button {
    margin-left: 200px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 13px 18px;
    background: #5b5867;
    border-radius: 3px;
    border: 2px solid #5b5867;
    transition: all 0.3s ease-in-out;
}