<ion-content [fullscreen]="true">
  <h2>Mes formations :</h2>
  <table>
    <tr  *ngFor="let Formation of formations">
        <td class="FirstCol">
            <h3>{{Formation.IdFormation}} : {{Formation.NomFormation}}</h3>
        </td>
        <td class="SecondCol">
            <button type="button" (click)="onSelect(Formation)">Details</button>
        </td>
    </tr>
  </table>
</ion-content>

<ion-footer class="footer">
  <button class="BackBtn" (click)="back()">Retour</button>
  <button class="DeconnBtn" (click)="logout()">Se Déconnecter</button>
</ion-footer>